{{with .Site.Data.faq}}
{{if .enable}}
<section class="faq" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="faq-content text-block">
          <h2> {{.title}} </h2>
          <p style="font-size: medium">飲食店　化粧品　小売店　電子機器　生活用品　ホテル／宿泊施設　自治体</p>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
         {{ range .faq}}
          <div class="col-lg-6">
            <div class="faq-content">
              <h3>{{.question}}</h3>
              <p style="font-size: medium">{{.answer}}</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>イロドリームなら全て解決できます！</h1>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}